.App {
  text-align: center;
}
/* footer.css */
.footer {
  position: fixed; /* Fix the footer to the bottom */
  bottom: 0; /* Position it at the bottom edge */
  left: 0; /* Align it to the left edge */
  width: 100%; /* Make it span the entire width */
  background-color: bg-gray-800; /* Set background color using Tailwind */
  color: text-white; /* Set text color using Tailwind */
  padding: p-4; /* Add padding using Tailwind */
  text-align: center; /* Center the content using Tailwind */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
